.legenda {
  font-style: italic;
  color: #0000ff;
}

.legendaNacionalidad {
  font-style: italic;
  color: #ff9900;
}

.legendaIdiomas {
  font-style: italic;
  color: #ff0000;
}

input[type="number"][id="altura"] {
  max: 300;
  min: 0;
  value: {{alçada}};
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
}

input[type="email"][id="email"] {
  placeholder: "exemple@exemple.com";
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
}

label[for="formacio-basica"], label[for="nacionalitat"], label[for="idiomes"] {
  class: "legenda"
}